.block {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  border: 2px solid deepskyblue;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 80px;
}

.counter {
  border: 2px solid deepskyblue;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  background-color: deepskyblue;
}

.btns-wrapper {
  border: 2px solid deepskyblue;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;

  button {
    background-color: deepskyblue;
    border: none;
    border-radius: 15px;
    padding: 0 20px;
    font-size: 70px;
  }
}

.red {
  color: red;
}
