html {
    background-color: grey;
}

.App {
    display: flex;
    align-content: center;
    gap: 100px;
}

.block {
    width: 360px;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.counter {
    border: 2px solid lightskyblue;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: lightskyblue;
    font-size: 80px;
}

.btns-wrapper {
    border: 2px solid lightskyblue;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-around;

    button {
        background-color: lightskyblue;
        border: none;
        border-radius: 5px;
        padding: 0 20px;
        font-size: 40px;
    }
}

.label-wrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    height: -webkit-fill-available;
  justify-content: space-around;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    color: lightskyblue;
    font-size: 20px;
    font-weight: bold;

    input {
        border: 2px solid lightskyblue;
        border-radius: 5px;
        outline: lightskyblue;
        text-align: center;
        font-weight: bold;
        height: 25px;
    }
}

.red {
    color: red;
}
